.homePage {
  width:auto;
  font-family: Poppins;
  text-align: justify;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.main
{
  padding-left: 0px;
}
.rip{
  
 
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
  
  text-align: left;
  font-family: Poppins;
    
    font-weight: 900;
    font-size: 27px;
    line-height: 59px;

    
    
    
    padding-right:120px ;
    padding-left: 300px;
   
    padding-top: 100px;
    
}
.stepheading
{
  font-weight: 700;
  font-size: 24px;
}
.rip2
{
  padding-right:120px ;
  padding-left: 300px;
 
  
    justify-content: left;
    font-family: Poppins;
    
    font-size :14px;
    color:#44464b;
    
}
.rip3
{
  padding-right:120px ;
  padding-left: 300px;
  justify-content: left;
  font-family: Poppins;
  font-style: normal;
  color: #212529;
}
.menuList{
  padding-left: 60px;
  
}
 
.header1{
  display: flex;
  position: fixed;
  
 
  font-size: 16px;
  font-family: poppins;
  width:107%;
  background-color:white;
  border-radius: 1px;
  
}
.menuList{
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}
div.image{
  padding-left: 20px;
}
.menuList
{
  padding-left: 40px;
}
li {
  float: left;
}

li a {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
  
  .login{
    
      color: black;
      font-size:14px;
      font-weight:bold;
      padding: 7px 30px;
      background-color: white;
      border-color: #000;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 30px;
    
  }
  .clickhere
  {
    color: white;
      font-size:13px;
      padding: 4px 20px;
      background-color:  #212529;;
      border-radius: 20px;
      cursor: pointer;
      border-color: white;
  }
  .pricing
  {

 background-color: #f47a23;
      color: white;
      font-size:14px;
      font-weight: bold;
      padding: 9px 28px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      
     }
     .login11
     {
      color: black;
      font-size:13px;
      padding: 4px 28px;
      border-color: #000;
      border-radius: 45px;
      cursor: pointer;
      margin-right: 20px;
     
    
    }
     .pricing1
     {
   
    background-color:#2b323d;
         color: white;
         font-size:13px;
         padding: 6px 28px;
         border: none;
         border-radius: 20px;
         cursor: pointer;
         text-align: center;
         
        }
     .whyaapi
     {
      
      
      font-size:18px;
      padding: 1px 23px;
      border: 2px solid #f47a23;
      color: #f47a23;
      border-radius: 35px;
      cursor: pointer;
     }
     .button
     {
       float:left;
     }
.some-page-wrapper
{
  color: #fc6d07;
}
     .splitcolumn2
     {
       background-color: #f8f9fa;
       width: 1008;
       height: 360;
     }
     .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 80%;
      flex: 1;
    }
.last1
{
  padding-left: 330px;
  padding-right: 150px;
  
}
    .column39
    {
      font-family: Poppins;
    font-style:normal;
    text-align:center;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 210px;
    }
    .first-column11
    {
      padding-right: 70px;
      padding-left: 40px;
          }
    .first-column12{
      padding-right: 80px;
      padding-left: 40px;
}
.first-column13
    {
      padding-right: 80px;
      padding-left: 40px;
      
    }
    
    
  .textcolumn1
  {

    font-weight: 400;
    width: 776;
    height: 436;
    
    padding-bottom: 0px;
    padding-top: 20px;
    
    
    font-family: Poppins;
    
     
      line-height: 1.1;
      
     
      
  
  }  
    
.text-column2 {
  font-weight: 400;
  width: 776;
  height: 436;
  
  padding-bottom: 0px;
  padding-top: 20px;
  padding-right: 300px;
  
  font-family: Poppins;
  
   
    line-height: 1.1;
    
   
    max-width: 100%;
}
.image1-column{
  padding-top: 100px;
  

}

.image-column2 {
  
  text-align: center;
  padding-top: 0px;
margin-left: 200px;
  
}
.image-column1{
  text-align: center;
  padding-top: 10px;
  
margin-right: 200px;
  
}
.image-column21{
  font-weight:bold;
      font-family: poppins;
          width: 776;
          height: 436;
          padding-top: 30px;
          padding-bottom: 40px;
          justify-content: stretch;
          padding-left: 290px;
          text-align: left;
          margin:0px 0px 25px;
          font-size:21px;
          text-align: center;
}
.image-column22{
  font-weight:bold;
      font-family: poppins;
          width: 776;
          height: 436;
          padding-top: 30px;
          padding-bottom: 40px;
          justify-content: stretch;
          padding-right:250px;
          text-align: left;
          margin:0px 0px 25px;
          font-size:21px;
          text-align: center;
}

.aapicenter3{
  background-color: white;
    padding-top: 70px ;
    padding-bottom: 0px;
   font-family: poppins;
    flex: 50%;
    text-align: center;

}
.step14
{
  padding-top:100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 240px;
  height: max-content;
  
  background: #e8eef0;
  font-family: Poppins;
  font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    max-width: 1200%;
    
    justify-content: space-between;
    
    
}
  
.step48
{
  padding-bottom: 0%;
}

.step25
{
  margin:20px;
  padding-top:20px;
  

}
.step36
{
  padding-top:30px;
  padding-bottom: 40px;
  padding-right: 100px;
  padding-left: 240px;
  height: max-content;
  background: #e8eef0;
  font-family: Poppins;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    max-width: 100%;
    
}


.firstcolumn
{
  
  display: flex;
    flex-direction: column;
    
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
    max-width: 210px;
}
.first-column11
{
  padding-right: 90px;
  padding-left: 90px;
}
    
.first-column12
{
  
  padding-left: 56px;
}

.bg-darkgray
{
  padding-top: 340px;
  background-color: #2b323d;
  text-align: center;
  color: #efefef;
  justify-content: flex-end;
    background: #2b323d;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    font-family: poppins;
   
}
.firstcolumn1
{
  padding:70px;
  font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    max-width: 240px;
    height: 100px;
    margin: 0 -5px;
    gap: 30px 20px;
    display: inline-flex;
  flex-wrap: wrap;
}

.column48
{
  
  display: flex;
  font-family: Poppins;
  font-style: normal;
  font-size: smaller;
  text-align: center;
  margin: 0 auto;
    padding: 20px 100px;
    
    justify-content: space-between;
    display: flex;
    
    align-items: center;
}

.column39
{  
  display: flex;
  
}
.single{
  padding-top: 70px;
}
.column61img
{
  padding-top: 20px;
  text-align: center;
  display: flex;
  vertical-align: middle;
    border-style: none;
    padding-bottom: 20px;
    
 
}
.first-column2
{
  padding-top: 130px;
 font-family: poppins;
  padding-left: 280px;
  
  
}
.first-column3
{
  padding-left: 10%;
  
}
.first-column4
{
padding-top:100px;
padding-left:100px;
float:right;
}

div.card
{
  overflow:visible;
}
.lastlast
{
  align-items: center;
}
.row-pr-3
{
justify-content: space space-between;
}
.new1
{

  width:250px ;
  height: 50px;
  float: left;
  padding-right: 200px;
  padding-left: 10px;
  padding-top: 20px;
  border-radius: 48px;
  box-sizing: border-box;}

.new11
{
  width:250px ;
  height: 50px;
  float: left;
  padding-right: 200px;
  padding-left: 10px;
  padding-top: 20px;
  
  border-radius: 48px;
  box-sizing: border-box;
  
}


  .submitt {
    
    background-color: black;
    color: white;
    padding: 12px 28px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  input[type=text] {
   justify-content: space-evenly;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  input[type=text1] {
    justify-content: space-evenly;
     padding: 12px 80px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-sizing: border-box;
   }
.new2
{
  width:150px ;
  height: 50px;
  padding-right: 200px;
  padding-left: 20px;
  padding-top: 20px;
}
.new21
{
  width:150px ;
  height: 50px;
  padding-right: 400px;
  padding-left: 370px;
  padding-top: 30px;
}
.new4
{
  padding-left: 200px ;
  padding-bottom: 10px;
  padding-top: 100px;
  color: white;
  font-size: medium;
}
.new5
{
  
  padding-left: 30px ;
  padding-bottom: 10px;
  padding-top: 20px;
  color: white;
  font-size: medium;
}
.lastform
{
padding-left: 200px;

}
.finalform
{
  width: 321px;
    aspect-ratio: auto 321 / 99;
    height: 99px;
  width:auto;
  padding-right: 200px;
  padding-left: 55px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;

  
  background-image: url("C:/Users/USER/webpage/src/assets/aapi_background_mobile3.jpg") ;
  
  
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
   
   
    background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0%;
  height: 100%;
  
   

    
}


.link
{display: flex;
  justify-content: center;
  align-items: center;;
}
.triple-vector
{
  display: flex;
    justify-content: center;
    align-items: center;

}

.moveup
{
  margin-top: -2px;
}
.backgroundtext
{padding-bottom: 200px;
  color:white;
  background-color: #2b323d;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color:#17a2b8;
  
}

::placeholder {
  color:#129db3;
  opacity: 1; /* Firefox */
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  color:#17a2b8;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.form-inline button {
  padding: 10px 20px;
  background-color:black;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}



@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
    color:#17a2b8;
  }
}
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  .embed
  {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;}
.firstcolumn
{ font-size: 14px;
  font-family: poppins;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}
.card {
  margin-bottom: -50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
 border-radius: 20px;
 
  float: center;
  width: 22%;
  height: 200%;
  
  // justify-content: space-evenly;
    
    display: flex;
    
    flex-direction: column;
    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    
}

*, ::after, ::before {
    box-sizing: border-box;
}
  .class48
  {
    display: flex;
    width: 100%;
    
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;

  }
.background
{
  background: #e8eef0;
  padding-top: 40px;
  overflow: visible;
  justify-content: stretch;
  padding-left: 250px;
  padding-right: 250px;
}

* {
  box-sizing: border-box;
}

.title
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}
.do-you-want
{
  font-family: Poppins;
  font-style: normal;
  text-align: center;
  font-size: 16px;
}
.card-head
{font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: grey;
  min-height: 50px;

}
.make-dream-app .card .row{
font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: grey;
    min-height: 50px;
    --breakpoint-md: 768px;
    padding: 15px 26px;
    max-width: 1200px;
    margin: 30px auto 0;
    text-align: center;
    position: relative;
}
.card-imgs
{
  display: flex;
    align-items: center;
    justify-content: space-between;
}
@media not screen and (min-width: 1130px){

.light-bg {
    display: none;
}}


.light-bg[_ngcontent-gca-c20] {
    background: #efefef;
    position: absolute;
    height: 337px;
    width: 100%;
    z-index: -1;
}
.row{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.make-dream-app .card .row
{
  height: 215px;
    width: 230px;
    padding: 23px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 3px 7px 3px #847d7d;
    border-radius: 15px;
    margin-top: 20px;
}
.text-column2 .title
{
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #000;
  text-align: left;
}
.video1
{
 padding-left: 450px;
 padding-top: 10px;
 position: absolute;
 margin-top: -200px;
 background-image: url("https://youtu.be/Qq0i_eGYsFk");
 
 
}
.image{
padding-top: 2opx;
}