
<div class="homePage">
<div class="header1">
  <div class="image">
    <img src="https://aapi.io/pages-aapi-services/assets/logos/logo-color.svg"  style="padding-top: 10px" />
  </div>
  <div class="menuList">
      <div class="list">
        
        <ul>
          <li><a class="active" href="#home">why aapi?</a></li>
          <li><a href="#news">Solutions</a></li>
          <li><a href="#contact">Partnerships</a></li>
          <li><a href="#about">Resources</a></li>
          <li><a href="#about">About us</a></li>
        </ul>
      </div>
      <div class="button">
          <button class="login">LOG IN</button>
          <button class="pricing">PRICING</button>
      </div>
  </div>
</div>
<div class="main">
<div class='splitcolumn2'>
  <div class='row'>
    <div class='column'>
      <div class='text-column'>
        <div class="rip"><h1>RIP APART YOUR APPS</h1></div>
        <div class="rip2"><p>Rebuild them the way you want by embedding functionality and data from app to app</p></div>
       <div class="rip3"> <button class="whyaapi">why aapi?</button></div>
      </div>
    </div>
    <div class='column'>
      <div class='image1-column'>
        <img src="https://images.aapi.io/homepage-header.gif"  width= '480'
        height='254' >
      </div>
    </div>
  </div>
</div>
</div>

<div class="aapicenter3">
  <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-header.svg"  alt="">
  <p style="font-size: 16px;">aapi ties applications and identity to automation and productivity with:</p>

  <div class='some-page-wrapper'>
    <div class='row'>
      <div class='column'>
        <div class='image-column21'>
          <h3>EMBEDDED APP FUNCTIONS</h3>
          <!-- <div class="link">
          <div class="triple-vector">
            <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/vector-arrow-down.svg" alt="">
            <img class="moveup" src="https://aapi.io/pages-aapi-services/assets/home/page-02/vector-arrow-down.svg" alt="">
            <img  class="moveup" src="https://aapi.io/pages-aapi-services/assets/home/page-02/vector-arrow-down.svg" alt="">
          </div>
        </div> -->
          <h5 style="font-size: 14px;">CONTINUE BELOW</h5>
        </div>
      </div>
      <div class='column'>
        <div class='image-column22'>
          <h3 style="color: #fc6d07;">IDENTITY AUTOMATION</h3>
          <button class="whyaapi" style="align-items: center;">Learn More</button>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="step14">   
  
    <div class='row'>
      <div class='column'>
        <div class='text-column1'>
          <h5 style="color: #E98021" >STEP 1</h5>
          <div class="stepheading"><h4 >CHOOSE YOUR APP FUNCTIONS</h4></div>
            <p style=font:10px;>Take desired functions from your apps and put them wherever you need them the most for a truly seamless app experience.</p>
        </div>
      </div>
      <div class='column'>
        <div class='image-column1'>
          <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/step1.svg"   alt="">
        </div>
      </div>
    </div>
  
</div>

<div class="step25">
  <div class='row'>
    <div class='column'>
      <div class='image-column2'>
        <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/embed-func.jpg"  widht="497" height="290" alt="">
        
      </div>
    </div>
    <div class='column'>
      <div class='text-column2' >
        <h4 style="color: #E98021" >STEP 2</h4>
        <div class="stepheading">
        <h4 >EMBED FUNCTIONS INTO YOUR APP OF CHOICE AND TRANSFORM IT INTO THE APP OF YOUR DREAMS</h4></div>
              <p style=font:16px;>Embed key functionality from any number of apps to your favorite app of choice in a way that makes the most sense for your workflows. With aapi you can have the ability to control the functionalities you need, when you need them, without the need to switch between multiple apps.</p>
      </div>
    </div>
  </div>
</div>

<div class="step36">
  <div class='row'>
    <div class='column'>
      <div class='text-column1'>
        <h4 style="color: #E98021" >STEP 3</h4>
       <div class="stepheading"> <h4 >RIGHT FUNCTION FOR THE RIGHT DATA</h4></div>
              <p style="font:10px;">aapi gathers the relevant data from virtually any app and automatically embed the correct real-time actions necessary for the event at hand.</p>

                <p style="font:1px;">As an example, aapi can enable actions within a PagerDuty incident page when suspicious activity is reported within Okta. From the incident page, assigned staff can suspend the user within Okta, send a message via Slack, and/or create a ticket in Zendesk, all automatically with a single click from within PagerDuty.</p>
      </div>
    </div>
    <div class='column'>
      <div class='image-column1'>
        <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step3.svg"  widht="597" height="340"  alt="">
      </div>
    </div>
  </div>
</div>

<div class="step47">
  <div class='row'>
    <div class='column'>
      <div class='image-column2'>
        <img  style="padding:20px" src="https://aapi.io/pages-aapi-services/assets/home/page-02/step4.svg" alt="">
        
      </div>
    </div>
    <div class='column'>
      <div class='text-column2' >
        <h4 style="color: #E98021" >STEP 4</h4>
       <div class="stepheading"><h4 >AUTOMATED ACTIONS WITH JUST A SINGLE CLICK</h4></div>
              <p style=font:12px;>With just a single click, actions tied to real-time data take place in the connected apps. Better yet, tedious tasks and repetitive data entry are automated by aapi. No more switching between multiple apps and no more copying and pasting the same data numerous times. One click from your app of choice and your task is done.</p>
      </div>
    </div>
  </div>
</div>
<div class="what"><h2 style="text-align:center;">WHAT aapi MEANS FOR YOUR BUSINESS</h2></div>
<div class="column48">
  
  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/emb-func.svg" alt="">
     <h3 class="embed">EMBED FUNCTIONS</h3>
      <p class="embed">Embed functionality from any app into the app of your choice.</p>
      
    
  </div>

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/slider/eu1.png" alt="">
        <h3 class="embed">AUTOMATE TASKS</h3>
        <p class="embed">No more tedious tasks and repetitive data entry.</p>
       
      
    
  </div>

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/aggregate-data.png" alt="">
        <h3 class="embed">DATA CONFIDENCE</h3>
        <p class="embed">Collect the data you need from any app into any repository</p>
      </div>
    
  

  
    <div class='first-column'>
      <img src="https://aapi.io/pages-aapi-services/assets/home/page-01/micro-access.png" alt="">
      <h3 class="embed">LEAST-PRIVILEGE</h3>
      <p class="embed">Give users access to only the functionality they need and nothing else.</p>
      
   
  
</div>
</div>

<div class="background">
<section id="make-dream-app">
   <div class="light-bg"></div>
  <div class="title"><h1 style="text-align: center;">MAKE YOUR DREAM APP</h1></div>
  <div class="do-you-want"><p>where do you want to start?</p></div>
          <div class="row">
            <div class="card">
              <div class="card-head">COMMUNICATION PLATFORM</div>
              <div class="card-imgs">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-comm-plat.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-slack.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-etc.svg" alt="">
              </div>
              <div class="learn-more-button">
                <button class="login11" >LEARN MORE </button>
              </div>
            </div>
            <div class="card">
              <div CLASS="card-head">APPLICATION</div>
              <div class="card-imgs">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-sales.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-gmail.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-etc.svg" alt="">
              </div>
              <div class="learn-more-button">
                <button class="login11" >LEARN MORE</button>
              </div>
            </div>
            <div class="card">
              <div CLASS="card-head">INCIDENT RESPONSE</div>
              <div class="card-imgs">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-p.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-right-arrow.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-etc.svg" alt="">
              </div>
              <div class="learn-more-button">
                <button class="login11">LEARN MORE</button>
              </div>
            </div>
            
            <div class="card">
              <div CLASS="card-head">IDENTITY PLATFORM</div>
              <div class="card-imgs">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle(s).svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/rectangle-okta.svg" alt="">
                <img src="https://aapi.io/pages-aapi-services/assets/home/page-02/group-etc.svg" alt="">
              </div>
              <div class="learn-more-button">
                <button class="login11">LEARN MORE</button>
              </div>
            </div>
          </div>
</section>
</div>





<div class="single"><h2 style="text-align: center;" >WHY aapi?</h2></div>
<div class="column39">
  
  
    <div class='first-column11'>
      <h3 style="color: #E98021">FLEXIBILITY FOR ANY USE CASE</h3>
      <p class="p" style="font-size: smaller">aapi works with any identity (user, device, IoT based) while offering advanced logic and flexible workflows for any use case - deployed anywhere.</p>
      
    
  </div>
<div class='first-column12'>
      <h3 style="color: #E98021">NO CODING REQUIRED</h3>
        <p  class="p"style="font-size: smaller">aapi offers an intuitive UI that requires zero coding. Workflows that previously required days of custom work and coding can be done in minutes.</p>
      </div>
<div class='first-column13'>
      <h3 style="color: #E98021">10X PRODUCTIVITY</h3>
        <p class="p" style="font-size: smaller">No more tedious data entry, no more jumping between apps, and no more manual provisioning of identities.</p>
      </div>
      </div>
      <div class="video1">
      <video  width="800"
      height="500"  controls>
        <!-- <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag. -->
      </video>
      
    </div>

<div class="bg-darkgray">
  <h2 style="padding-left: 10px;">aapi Integration Services Make Tasks Simple</h2>
  <p class="last1">Let us help you with your identity workflows! If you can’t find the microapp you are looking for in the marketplace, use our builder or please reach out as we are happy to help.</p>
  <p class="last1">Our experts will help you get to a better place with your identity ecosystem. Let’s get started!</p>
  <button class="clickhere">CLICK HERE</button>
</div>



    <div class="column61img">
  
  
      <div class='first-column2'>
        <img src="https://aapi.io/pages-aapi-services/assets/orange7.png"  style="float:left">
        <h3>Get aapi NOW!</h3>
        <button class="pricing1">SEE PRICING</button>
        
      
    </div>
  
    
      <div class='first-column3'>
        <img src="https://aapi.io/pages-aapi-services/assets/stuff.jpg" width="770" height="320" alt="">
          </div>
    </div>


<div class="finalform">
  <div class="lastform">
  <div class="row">
    <div class="column">
<div class="lastlast">
   <div class="new4">
     
      <img src="https://aapi.io/pages-aapi-services/assets/logos/logo.png" alt="">
    </div>
    <div class="new5">
      Learn more about what we can do for your business
    </div>
    <div class="main-details-form">
<div class="row-pr-3">
  <div class="new1">
<input type="text" placeholder="First Name" name="firstname" class="placeholder">
  </div>

  <div class="new2">
    <input type="text" placeholder="Last Name" name="lastname" class="placeholder">
      </div>

      <div class="new11">
        <input type="text1" placeholder="Email" name="email" class="placeholder">
          </div>
         
          <div class="new21">
            
            <button class="submitt">SUBMIT</button>
                
          </div>
          <div class="column"></div>
          </div></div>
    
  </div>

    
      

</div>
</div>
</div>