<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div id="container">
<div class="header">
  <h1>MY SIMPLE WEBPAGE</h1>
</div>

<div class="row">
  <div class="col-9">
    <h1>Isquare Business Solution </h1>
    <p>ISquare Business Solution is a global Software development company. We are specialised in end to end software development to saving your time and efforts by providing full-cycle product development from design to deployment and further evolution, making quality assurance an integral part of development.

      We are a skilled team of professionals, having more than 15 years of experience in Web and Mobile Application Development. We have 20+ employees with Business Analyst, Designer, Developers & DevOps team and are ready to take up new projects any time and we assure we meet the right deadlines with high quality. </p>
    
  </div>
  <div class="col-3 menu">
    <ul>    Our Services
      <li>Mobile App Development</li>
      <li>Web App Development</li>
      <li>Api Automation</li>
      </ul>
  </div>
  <div class="col-5 menu">
    <ul> How We Work
      <li>Project Based Development</li>
      <li>Developer Based</li>
      <li>Hourly Based</li>
      </ul>
  </div>
  <div class="col-7 menu">
    <h1> Our Process</h1> 
      <p>At iSquare we mostly follow agile process model & water flow process model for all kind of projects. We do support other development models too.</p>
  </div>

  <div class="col-8 menu">
    
    <h1>Get In Touch</h1>
    <form>
    <label for="fname"> Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
<label for="lname">Message</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    
    
    
  
    <input type="submit" value="Submit">
  </form>
  </div>


  
</div>

</div>
</body>
</html>
